@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --primary-color: #0c0c0c;
  --secondary-color: #242723;
  --accent-color: #18241e;
  --text-color: #fffdee;
  --border-radius: 20px;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
  color: var(--text-color);
  background-color: var(--primary-color);
}
/* main container */
.container {
  position: relative;
  overflow: hidden;
  width: 600px;
  padding: 32px;
  border-radius: 23px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 6px 6px;
}
.header {
  text-align: center;
  margin-bottom: 20px;

}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-container .check-input{
  width: 100%;
  padding: 10px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 1rem;
  transition: all 0.3s ease;
}
.form-container .check-input:focus{
  outline: none;
  box-shadow: 0 0 5px var(--primary-color);
}
.form-container .check-btn{
  width: 100%;
  padding: 10px;
  border-radius: var(--border-radius);
  border: none;
  transition: all 0.3s ease;
}
.form-container .check-btn:hover{
  transform: translateY(-2px);
}

.result-content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.result-content .card{
  background: #fffdee;
  color: var(--primary-color);
  padding: 20px;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid ;
  transition: all 0.4s ease;
  width: 60%;
}
.result-content .card p{
  display: flex;
  justify-content: space-between;
  margin: 5px ;
  font-size: 1rem;
  margin-bottom: 10px;
}
.result-content .card .number-of-people{
  color: var(--text-color);
  background-color: #303030;
  border-radius: 50px;
  padding: 0px 10px 1px 10px;
}
